yuv_to_rgb:
  blur_filter: False     # Enable image blur filtering
  blur_threshold: 50.0   # Threshold for blur detection using Laplacian variance
  exposure_filter: False       # Enable image exposure filtering
  exposure_threshold_low: 0.05  # Underexposure detection threshold
  exposure_threshold_high: 0.05 # Overexposure detection threshold

depth_to_linear:
  clip_near_m: 0.1 # Near clipping distance in meters for linear depth visualization
  clip_far_m: 3.0  # Far clipping distance in meters for linear depth visualization
  use_cache: True # Whether to use the depth dataset cache